<div class="row m-5">
  <div class="col-12 col-lg-6 offset-xs-0 offset-lg-3">
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">Título</label>
        <input
          type="text"
          class="form-control"
          formControlName="title"
          placeholder="Introduce un título..."
        />
        @if(checkErrorField('title', 'required')){
        <p class="error">El campo es obligatorio</p>
        } @if(checkErrorField('title', 'minlength')){
        <p class="error">El campo tiene una longitud minima de 10 caracteres</p>
        }
      </div>
      <div>
        <label class="form-label">Texto</label>
        <input
          type="text"
          class="form-control"
          formControlName="text"
          placeholder="Introduce un texto..."
        />
        @if(checkErrorField('text', 'required')){
        <p class="error">El campo es obligatorio</p>
        } @if(checkErrorField('text', 'minlength')){
        <p class="error">El campo tiene una longitud minima de 20 caracteres</p>
        }
      </div>
      <div>
        <label class="form-label">Autor</label>
        <input
          type="text"
          class="form-control"
          formControlName="author"
          placeholder="Introduce un autor..."
        />
        @if(checkErrorField('author', 'required')){
        <p class="error">El campo es obligatorio</p>
        } @if(checkErrorField('author', 'minlength')){
        <p class="error">El campo tiene una longitud minima de 4 caracteres</p>
        }
      </div>
      <div>
        <label class="form-label">Imagen</label>
        <input
          type="text"
          class="form-control"
          formControlName="image"
          placeholder="Introduce una url de imagen..."
        />
        @if(checkErrorField('image', 'imageValidator')){
        <p class="error">
          {{postForm.get('image')?.errors?.['imageValidator']}}
        </p>
        }
      </div>
      <div>
        <label>Categoría</label>
        <select formControlName="category" class="form-select">
          <option value="">Selecciona una categoría</option>
          @for(category of categoriesPost; track category.id){

          <option [value]="category.name">{{ category.name }}</option>
          }
        </select>
        @if(checkErrorField('category', 'required')){
        <p class="error">Tienes que seleccionar una categoría</p>
        }
      </div>
      <div>
        <label class="form-label">Fecha</label>
        <input type="date" class="form-control" formControlName="date" />
        @if(checkErrorField('date', 'required')){
        <p class="error">Selecciona una fecha</p>
        }
      </div>
      <input
        class="btn btn-warning mt-3"
        type="submit"
        value="Enviar"
        [disabled]="postForm.invalid"
      />
    </form>
  </div>
</div>
