<div class="row mt-5">
  <div class="col-12 col-lg-6 offset-0 offset-lg-3">
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">Título</label>
        <input
          type="text"
          class="form-control"
          formControlName="title"
          placeholder="Introduce un título..."
        />
      </div>
      <div>
        <label class="form-label">Texto</label>
        <input
          type="text"
          class="form-control"
          formControlName="text"
          placeholder="Introduce un texto..."
        />
      </div>
      <div>
        <label class="form-label">Autor</label>
        <input
          type="text"
          class="form-control"
          formControlName="author"
          placeholder="Introduce un autor..."
        />
      </div>
      <div>
        <label class="form-label">Imagen</label>
        <input
          type="text"
          class="form-control"
          formControlName="image"
          placeholder="Introduce una url de imagen..."
        />
      </div>
      <div>
        <label>Categoría</label>
        <select formControlName="category" class="form-select">
          <option value="">Selecciona una categoría</option>
          @for(category of categoriesPost; track category.id){

          <option [value]="category.name">{{ category.name }}</option>
          }
        </select>
      </div>
      <div>
        <label class="form-label">Fecha</label>
        <input type="date" class="form-control" formControlName="date" />
      </div>
      <input class="btn btn-warning mt-3" type="submit" value="Enviar" />
    </form>
  </div>
</div>
